
.color-grey {
    color: #757575;
}

.bc-red {
    background-color: #f44336;
}

.margin-left-16 {
    margin-left: 16px;
}

.ticket-number {
    padding: 0 8px;
    border-radius: 50%;
}

#tour-places {
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
}