#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

.search-btn {
    line-height: 46px;
    padding: 0 24px;
    color: #fff;
}

.menu-btn {
    line-height: 46px;
    padding: 0 24px;
    color: #fff;
}

.hover-red:hover {
    background-color: #f44336;
    cursor: pointer;
}

@media (max-width: 600px) {
    .hide-small {
        display: none;
    }
}

@media (min-width: 601px) {
    .hide-large {
        display: none;
    }
}