
.nav-button {
    display: inline-block;
    line-height: 46px;
    padding: 0 24px;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
}

#sub-nav {
    position: fixed;
    top: 46px;
    left: 0;
    right: 0;
}

@media (max-width: 600px) {
    .nav-hide-small {
        display: none;
    }
}
