#slider {
    position: relative;
    top: 46px;
    /*background: url("../../assets/ny.jpg") no-repeat top center;*/
    /*background-size: cover;*/
}

#slide-heading {
    position: absolute;
    bottom: 0;
    padding: 32px 16px;
    width: 100%;
}
